nav {
  background-color: #515151;
  padding: 10px 0 10px 0;
  font-family: 'Nunito', sans-serif;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 15px;
  height: 100%;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  letter-spacing: 3px;
  padding-bottom: 6px;
}
nav ul li a:hover {
  border-bottom: 2px solid #DCDCDC;
}
nav ul .toggle-nav {
  color: #fff;
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid #363636 !important;
}
@media only screen and (max-width: 1050px) {
  nav ul li {
    display: none;
  }
  nav ul .toggle-nav {
    display: inline-block;
  }
  nav {
    text-align: right; 
    letter-spacing: 2px;
  }
  .toggled-on li {
    display: block !important;
  }
  .toggled-on {
    text-align: left !important;
    font-size: 23px;
  }
  .toggled-on li {
    margin-bottom: 10px !important;
  }
  .toggled-on .toggle-nav {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (min-width: 1051px) {
  nav ul .toggle-nav {
    display: none;
  }
}
