/*Pierwsza tabela*/
table{
    text-align: center;
    border-collapse: collapse;
}

table td, table th{
    border: 3px solid #515151;
    text-align: left;
    padding: 8px;
}

table th{
    background-color: #B5B5B5;
}

table td:last-child
{
    width: 15%;
}

table td i{
    margin: 0 5px 0 5px;
}

/*Druga tabela*/
.table-two td, .table-two th
{
    border: 3px solid #AB9A93;
}

.table-two th{
    background-color: #E5E0DE;
}

.table-two tr:nth-child(2n){
    background-color: #F4F2F2;
}


/*Trzecia tabela*/
#table-three td, #table-three th{
    border: 3px solid #93A4AB;
}

#table-three th{
    background-color: #C9D1D5;
}

#table-three tr:nth-child(3n){
    background-color: #E9ECEE;
}

/*WSZYSTKIE*/

table td:first-child{
    width: 10%;
    text-align: center;
    font-weight: bold;
}

table td:last-child{
    text-align: center;
}


input[type="text"],
input[type="number"]{
  box-sizing: content-box !important;
  padding: 10px;
  width: 20vw;
  margin: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #515151;
}
input[type="text"]:focus,
input[type="number"]:focus{
  outline: none;
  border-bottom: 3px solid #FFA346;
  transition: 0.2s;
}

.error{
    border-bottom: 3px solid #FF3232 !important;
}

.errorMsg{
    color:#FF3232;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#addMenu{
    text-align: center;
    margin: auto;
}

#addMenu div:last-child{
    text-align: center;
}

.removeEpisode{
    color: #FF3232;
    font-size: 28px;
    cursor: pointer;
}

.removeEpisode:hover{
    color:#CC2828;
    transition: .3s;
}

.editEpisode{
    color: #CCCC00;
    font-size: 28px;
    cursor: pointer;
}

.editEpisode:hover{
    color: #D6D632;
    transition: .3s;
}


@media only screen and (max-width: 1050px) {
    input[type="text"],
    input[type="number"]{
        width: 50vw;
    }
}
