@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap');
@import url("fonts.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center top;
  margin: 0;
  padding: 0;
  height: 80vh;
  font-family: 'Nunito', sans-serif;
  position: relative;
}
.art-container {
  max-width: 1000px;
  margin: auto;
}
article {
  margin-top: 80px;
  margin-bottom: 80px;
}
article .art-container p {
  font-size: 18px;
}
footer {
  margin: 30px 0 0 0;
  text-align: center;
  background-color: #515151;
  padding: 20px;
  color: #fff;
}
footer .art-container {
  text-align: right;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.trans-bg{
  font-family: "Leander";
}
.trans-bg h1
{
  font-size: 60px;
}

@media only screen and (max-width: 1050px) {
  .art-container {
    padding: 0 30px 0 30px;
    text-align: justify;
  }

  .trans-bg{
    text-align: center;
  }
}
