input[type="text"],
input[type="number"]{
  box-sizing: content-box !important;
  padding: 10px;
  width: 200px;
  margin: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #515151;
}
input[type="text"]:focus,
input[type="number"]:focus{
  outline: none;
  border-bottom: 3px solid #FFA346;
  transition: 0.2s;
}

.custom-select {
    text-align: center;
    position: relative;
    width: 300px;
    color: black;
    border-bottom: 3px solid #515151;
    margin: auto;
  }
  .custom-select select {
    display: none;
  }
  .select-selected {
    background-color: transparent;
    color: #000000 !important;
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000000 transparent transparent transparent;
  }
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent tomato transparent;
    top: 7px;
  }
  .select-items div,
  .select-selected {
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid black;
  }
  .select-items {
    position: absolute;
    background-color: tomato;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 200px;
    overflow-y: scroll;
  }
  .select-hide {
    display: none;
  }
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #menu-center{
    text-align: center;
  }