.uppercase {
  text-transform: uppercase;
}
.color-white {
  color: #fff;
}
.full-width {
  width: 100%;
}
.h-decoration {
  border-bottom: #515151 solid 5px;
  text-align: center;
  padding: 0 0 8px 0;
}
.h-decoration-no-border {
  text-align: center;
  padding: 0 0 20px 0;
}
.hr-grey {
  width: 100%;
  height: 3px;
  background-color: rgba(88, 88, 88, 0.3);
}
.table-res{
  width: 90%;
  margin: 30px auto 0 auto;
}
.btn {
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #525659;
  border: none;
  box-shadow: 0px 1px 7px -2px #000000;
  -webkit-box-shadow: 0px 1px 7px -2px #000000;
  -moz-box-shadow: 0px 1px 7px -2px #000000;
  cursor: pointer;
}
.btn:hover {
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #525659;
  border: none;
  box-shadow: 0px 1px 15px -2px #000000;
  -webkit-box-shadow: 0px 1px 15px -2px #000000;
  -moz-box-shadow: 0px 1px 15px -2px #000000;
  transition: 0.3s;
}

.btn:disabled{
  background-color: #A8AAAC;
  cursor: not-allowed;
}

.btn:disabled:hover{
  box-shadow: 0px 1px 7px -2px #000000;
  -webkit-box-shadow: 0px 1px 7px -2px #000000;
  -moz-box-shadow: 0px 1px 7px -2px #000000;
}

.inline{
  display: inline-block;
  position: relative;
}